@use '@/styles/variables' as v;
@use '@/styles/breakpoints' as b;

.activity-list {
  display: flex;
  flex-direction: column;
  gap: v.$space-7;

  &__heading {
    font-size: 1.3rem;
    margin-bottom: v.$space-4;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: v.$space-4;

    @include b.respond-to(mobile) {
      grid-template-columns: 1fr;
    }
  }
}
